body {
  margin: 0px;
  padding: 0px;
  font-family: "RO Sans", Calibri, sans-serif;
}

header {
  background-color: #fff;
  text-align: center;
}

.logo .wrapper {
  margin-left: 20.6%;
}

.navBar .wrapper {
  background-color: #01689b;
  color: #ffffff;
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.navBar .home {
  font-size: 1.4rem;
  text-decoration: none;
  margin: auto;
  margin-left: 50px;
  line-height: 1.4rem;
  align-items: center;
}

.navBar .mainNav {
  padding-right: 4%;
}

.navBar .wrapper .topMenu {
  list-style-type: none;
}

.navBar a {
  text-decoration: none;
  color: #fff;
}

.navBar a:hover {
  text-decoration: underline;
}

.navBar a.icon {
  display: none;
}

.navBar ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navBar li {
  width: auto;
  font-size: 1.1em;
  padding: 0 10px 0 10px;
}

.searchForm {
  position: absolute;
  width: 35%;
  top: 35%;
  right: 5%;
  z-index: 1;
  align-items: center;
}

.searchForm input:focus {
  outline: 2px dotted #01689b;
}

.searchForm input {
  width: 70%;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  opacity: 0.9;
  line-height: 1.5em;
}

.searchForm button {
  width: 10%;
  padding: 10px;
  margin-left: 0px;
  border: 1px black;
  background: black;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-left: none;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.headerImage {
  background-image: url("https://www.rijksoverheid.nl/binaries/large/content/gallery/rijksoverheid/attentie-afbeeldingen/home/2019/hardlopers-in-actie-in-haarlem.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 280px;
  position: relative;
  padding: 1%;
  padding-bottom: 3%;
}

.headerImage .topTaskNavigation {
  box-sizing: border-box;
  width: 30%;
  margin: 1%;
  background-color: #fff;
  padding: 1.5%;
  justify-content: center;
}

.topTaskNavigation ul {
  list-style-type: none;
}

.topTaskNavigation a {
  text-decoration: none;
  color: #01689b;
}

.topTaskNavigation a:hover {
  text-decoration: underline;
  color: #014364;
}

.topTaskNavigation li {
  line-height: 1.5em;
  font-size: 1.1em;
}

.topTaskNavigation ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid #01689b;
  border-bottom: 2px solid #01689b;
  width: 5px;
  height: 5px;
  left: 5%;
  margin-top: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

.headerImage h2 {
  margin: 0px;
  margin-left: 5%;
}

.slide {
  margin-left: 1%;
  color: #fff;
}

.slide .copyright {
  font-size: 0.8em;
}

.editorialNavigation {
  background-color: #f3f3f3;
  padding-bottom: 5%;
}

.editorialNavigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  width: 95%;
  margin: auto;
  padding-top: 3%;
}

.editorialNavigation li {
  box-sizing: border-box;
  width: 23%;
  line-height: 1.5em;
  margin-right: 2%;
}

.editorialNavigation a {
  text-decoration: none;
}

.editorialNavigation a:hover h3 {
  text-decoration: underline;
}

.editorialNavigation .content h3 {
  color: #01689b;
  font-size: 1.5em;
  padding-right: 2%;
}

.editorialNavigation .content p {
  padding-right: 8%;
  color: black;
}

.brick-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 5%;
}

.brick-spotlight {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 5%;
}

.brick-spotlight h2 {
  width: 100%;
}

.brick-spotlight h3,
brick-text {
  justify-content: flex-start;
}

.brick-spotlight .brick {
  width: 30%;
  margin: 1%;
}

.brick-image img {
  width: 100%;
  position: relative;
}

.brick-spotlight a {
  text-decoration: none;
  color: #01689b;
}

.brick-spotlight a:hover h3 {
  text-decoration: underline;
  color: #014364;
}

.brick-text {
  color: black;
}

.brick-nieuws {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 5%;
  font-size: 1.1em;
}

.brick-nieuws h2 {
  width: 100%;
}

.brick-nieuws h2,
h3,
brick-text {
  justify-content: flex-start;
  align-items: flex-start;
}

.brick-nieuws .brick {
  width: 27%;
  margin: 1%;
  padding: 1%;
}

.brick-image img {
  width: 100%;
  position: relative;
}

.brick-nieuws a {
  text-decoration: none;
  color: #01689b;
}

.brick-nieuws a:hover h3 {
  text-decoration: underline;
  color: #014364;
}

.brick-nieuws a:hover .more {
  text-decoration: underline;
  color: #014364;
}

.brick-nieuws .more:before {
  content: "";
  position: absolute;
  border-right: 2px solid #01689b;
  border-bottom: 2px solid #01689b;
  width: 5px;
  height: 5px;
  left: 4%;
  margin-top: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

.brick-nieuws .brick-text {
  font-size: 0.8em;
}

.publDate {
  font-weight: bold;
}

.banner-container {
  width: 30%;
  height: 230px;
  border: 3px solid #e2e1e1;
  float: left;
  display: flex;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  margin-right: 3%;
  line-height: 0.8em;
  align-items: center;
  justify-content: center;
}

.banner-container .banner1,
.banner4 {
  font-size: 2.7em;
  color: #01689b;
  font-weight: bolder;
}

.banner-container a {
  text-decoration: none;
}

.banner-container .banner2,
.banner3 {
  color: black;
  font-size: 2em;
}

.banner-container .banner5 {
  color: black;
  font-size: 1.7em;
}

.banner-container .banner6,
.banner7 {
  color: #a90061;
  font-size: 2.2em;
  font-weight: bolder;
}
.banner6 {
  margin-top: 20%;
}
