body {
    margin: 0px;
    padding: 0px;
    font-family: "Ropa Sans", Calibri, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    flex: 1;
    margin: auto;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: #01689B;
    align-items: center;
}

.topmenu {
    display: flex;
    list-style: none;
    line-height: 40px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.topmenu a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-right: 40px;
}

.topmenu a:hover {
    text-decoration: underline;
}

.home {
    margin-left: 5%;
    margin-right: auto;
    font-size: 1.4em;
}

.home a {
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

.home a:hover {
    text-decoration: underline;
}

.top-read-content {
    position: absolute;
    float: left;
    z-index: 2;
    font-size: 1.1em;
}

.top-read-section img {
    position: absolute;
    float: left;
    z-index: 0;
    background-position: center center;
    min-height: 340px;
    max-width: 100%;
}

.top-read-links {
    box-sizing: border-box;
    background-color: #fff;
    width: 80%;
    margin-top: 4%;
    margin-bottom: 1%;
    margin-left: 5%;
    padding: 4%;
}

.top-read-links a {
    text-decoration: none;
    color: #01689B;
}

.top-read-links a:hover, h2 {
    text-decoration: underline;
}

.top-read-links ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
}

.top-read-links li {
    text-decoration: none;
    line-height: 1.5em;
    font-weight: bold;
}

.top-read-links li:before {
    content: '';
    position: absolute;
    border-right: 2px solid #01689B;
    border-bottom: 2px solid #01689B;
    width: 5px;
    height: 5px;
    margin-top: 15px;
    left: 45px;
    transform: translateY(-50%) rotate(-45deg);
}

.copyright {
    color: #fff;
    margin: 2%;
}