html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "RO Sans", Calibri, sans-serif;
}

header {
  background-color: #fff;
  text-align: center;
}

.logo .wrapper {
  margin-left: 20.6%;
}

.navBar .wrapper {
  background-color: #01689b;
  color: #ffffff;
  width: 100%;
  min-height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.navBar .home {
  font-size: 1.4rem;
  text-decoration: none;
  margin: auto;
  margin-left: 50px;
  line-height: 1.4rem;
  align-items: center;
}

.navBar .mainNav {
  padding-right: 3%;
}

.navBar .wrapper .topMenu {
  list-style-type: none;
}

.navBar a {
  text-decoration: none;
  color: #fff;
}

.navBar a:hover {
  text-decoration: underline;
}

.navBar a.icon {
  display: none;
}

.navBar ul {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.navBar li {
  width: auto;
  font-size: 1.1em;
  padding: 0 10px 0 10px;
}

.searchForm {
  position: absolute;
  width: 35%;
  top: 35%;
  right: 5%;
  z-index: 1;
  align-items: center;
}

.searchForm input:focus {
  outline: 2px dotted #01689b;
}

.searchForm input {
  width: 70%;
  border: none;
  font-size: 1.2rem;
  padding: 10px;
  opacity: 0.9;
  line-height: 1.5em;
}

.searchForm button {
  width: 10%;
  padding: 10px;
  margin-left: 0px;
  border: 1px black;
  background: black;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  border-left: none;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.navBar .mobile-icon {
  display: none;
}

.headerImage {
  background-image: url("https://www.rijksoverheid.nl/binaries/large/content/gallery/rijksoverheid/attentie-afbeeldingen/home/2019/hardlopers-in-actie-in-haarlem.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 280px;
  position: relative;
  padding: 1%;
  padding-bottom: 4%;
}

.headerImage .topTaskNavigation {
  box-sizing: border-box;
  width: 30%;
  margin: 1%;
  background-color: #fff;
  padding: 1.5%;
  justify-content: center;
}

.topTaskNavigation ul {
  list-style-type: none;
}

.topTaskNavigation a {
  text-decoration: none;
  color: #01689b;
}

.topTaskNavigation a:hover {
  text-decoration: underline;
  color: #014364;
}

.topTaskNavigation li {
  line-height: 1.5em;
  font-size: 1.1em;
}

.topTaskNavigation ul li:before {
  content: "";
  position: absolute;
  border-right: 2px solid #01689b;
  border-bottom: 2px solid #01689b;
  width: 5px;
  height: 5px;
  left: 5%;
  margin-top: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

.headerImage h2 {
  margin: 0px;
  margin-left: 5%;
}

.slide {
  margin-left: 1%;
  color: #fff;
}

.slide .copyright {
  font-size: 0.8em;
}

.editorialNavigation {
  background-color: #f3f3f3;
  padding-bottom: 5%;
  width: 100%;
}

.editorialNavigation ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  margin: auto;
  padding-top: 3%;
}

.editorialNavigation li {
  box-sizing: border-box;
  width: 23%;
  line-height: 1.5em;
  margin-right: 2%;
}

.editorialNavigation a {
  text-decoration: none;
}

.editorialNavigation a:hover h3 {
  text-decoration: underline;
}

.editorialNavigation .content h3 {
  color: #01689b;
  font-size: 1.5em;
  padding-right: 2%;
}

.editorialNavigation .content p {
  padding-right: 8%;
  color: black;
}

hr {
  border-top: 1px solid #b4b1b1;
  border-bottom: 1px solid #fff;
}

.brick-container {
  width: 90%;
  margin: auto;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 5%;
}

.brick-spotlight {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  margin-bottom: 5%;
}

.brick-spotlight h2 {
  width: 100%;
}

.brick-spotlight h3,
brick-text {
  justify-content: flex-start;
}

.brick-spotlight .brick {
  width: 30%;
  margin: 1%;
}

.brick-image img {
  width: 100%;
  position: relative;
}

.brick-spotlight a {
  text-decoration: none;
  color: #01689b;
}

.brick-spotlight a:hover h3 {
  text-decoration: underline;
  color: #014364;
}

.brick-text {
  color: black;
}

.brick-nieuws {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin-bottom: 5%;
  font-size: 1.1em;
}

.brick-nieuws h2 {
  width: 100%;
}

.brick-nieuws h2,
h3,
brick-text {
  justify-content: flex-start;
  align-items: flex-start;
}

.brick-nieuws .brick {
  width: 27%;
  margin: 1%;
  padding: 1%;
}

.brick-image img {
  width: 100%;
  position: relative;
}

.brick-nieuws a {
  text-decoration: none;
  color: #01689b;
}

.brick-nieuws a:hover h3 {
  text-decoration: underline;
  color: #014364;
}

.brick-nieuws a:hover {
  text-decoration: underline;
  color: #014364;
}

.brick-nieuws .more:before {
  content: "";
  position: absolute;
  border-right: 2px solid #01689b;
  border-bottom: 2px solid #01689b;
  width: 5px;
  height: 5px;
  left: 6%;
  margin-top: 10px;
  transform: translateY(-50%) rotate(-45deg);
}

.brick-nieuws .brick-text {
  font-size: 0.8em;
}

.publDate {
  font-weight: bold;
}

.brick-nieuws .more {
  width: 95%;
  margin: auto;
}

.banner-container {
  width: 32%;
  height: 230px;
  border: 4px solid #cbd2e3;
  float: left;
  display: flex;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  margin-right: 3%;
  line-height: 0.8em;
  align-items: center;
  justify-content: center;
}

.banner-container .banner1,
.banner4 {
  font-size: 2.7em;
  color: #01689b;
  font-weight: bolder;
}

.banner-container a {
  text-decoration: none;
}

.banner-container .banner2,
.banner3 {
  color: black;
  font-size: 2em;
}

.banner-container .banner5 {
  color: black;
  font-size: 1.7em;
}

.banner-container .banner6,
.banner7 {
  color: #a90061;
  font-size: 2.2em;
  font-weight: bolder;
}

.banner6 {
  margin-top: 20%;
}

footer {
  width: 100%;
  background-color: #01689b;
  margin-top: 5%;
  padding-top: 5%;
  margin-bottom: 3%;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  align-items: flex-start;
}

.payoff {
  width: 50%;
  margin: auto;
  color: white;
  font-family: "RO Serif";
  font-style: italic;
  font-size: 2em;
  float: left;
}

.column {
  width: 20%;
  color: #fff;
  font-weight: lighter;
}

.column ul {
  list-style-type: none;
  line-height: 1.8em;
  margin-left: -13%;
}

.column a {
  text-decoration: none;
  color: #fff;
}

.column a:hover {
  text-decoration: underline;
}

.languages {
  width: 100%;
  background-color: #fff;
}

.languages ul {
  list-style-type: none;
  width: 60%;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 10px 10px 10px;
}

.languages li {
  border: 1px solid #b2d7ee;
  width: auto;
  text-align: center;
  font-size: 1em;
  padding: 0.5%;
}

.languages li a {
  text-decoration: none;
  color: #01689b;
}

ul .selected {
  border: none;
  font-weight: bolder;
}

/* ------------------- Mobile Version ---------------------- */

@media only screen and (max-width: 480px) {
  html,
  body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navBar {
    max-width: auto;
    margin: auto;
    background-color: #01689b;
    color: white;
  }
  .navBar .wrapper .home {
    margin-left: 1%;
  }
  .logo .wrapper {
    margin-left: 30%;
  }
  .logo .wrapper img {
    width: 300px;
    height: 100px;
    margin-top: -5%;
  }
  .navBar .wrapper {
    height: auto;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navBar a.icon:hover {
    background-color: #01689b;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .topMenu {
    display: flex;
    flex-direction: column;
    line-height: 1em;
  }
  .mainNav {
    display: none;
  }
  .navBar .wrapper:hover .mainNav {
    width: 100%;
    display: flex;
    order: 3;
  }
  .navBar .wrapper:hover .mainNav ul {
    width: 85%;
    margin-left: 5%;
    padding: 0;
    text-align: left;
  }
  .navBar .wrapper:hover .mainNav li {
    width: 100%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-size: 0.1em;
  }
  .searchForm {
    width: 100%;
    order: 2;
    margin-left: 8%;
    position: relative;
    margin-bottom: 5px;
  }
  .searchForm input {
    width: 75%;
  }
  .searchForm button {
    width: 10%;
    margin: 0;
  }
  .navBar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .navBar a.icon {
    background: #01689b;
    display: inline;
    position: relative;
    right: 0;
    top: 0;
  }
  .navBar a.icon:hover {
    float: right;
  }
  .headerImage {
    width: 100%;
    box-sizing: border-box;
  }
  .headerImage .topTaskNavigation {
    width: 95%;
    height: auto;
    margin-top: 5%;
    font-size: 0.9em;
  }
  .headerImage .topTaskNavigation li {
    line-height: 1.8em;
    font-weight: bolder;
  }
  .topTaskNavigation ul li:before {
    left: 8%;
    margin-top: 12px;
  }
  .editorialNavigation {
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .editorialNavigation h3,
  .content {
    line-height: 1.1em;
  }
  .fourItems ul {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
  }
  .fourItems ul .content {
    width: 100%;
    padding: 2%;
    justify-content: left;
  }
  .fourItems ul {
    list-style-type: none;
  }
  .fourItems ul li {
    text-align: left;
    width: 80%;
    margin: 0;
    line-height: 1em;
  }
  .fourItems ul li a {
    text-decoration: none;
    color: #000000;
  }
  .brick-spotlight {
    width: 100;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between;
  }
  .brick-spotlight .brick {
    width: 95%;
  }
  .brick-nieuws {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .brick-nieuws .brick {
    width: 90%;
  }
  .brick-nieuws .more:before {
    left: 5%;
  }
  .banner-container {
    width: 95%;
    margin: auto;
    font-size: 3.5vw;
    line-height: 0.6em;
    margin-bottom: 10%;
  }
  footer {
    width: 100%;
    overflow: hidden;
  }
  .footer-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3%;
  }
  .footer-container .payoff {
    width: 100%;
    font-style: normal;
    font-size: 1.4em;
  }
  .column {
    width: 45%;
  }
  .column h2 {
    margin-left: 0%;
  }
  .languages ul {
    list-style-type: none;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 10px 10px 10px;
    line-height: 2em;
  }
  .languages li {
    border: 1px solid #b2d7ee;
    width: auto;
    text-align: center;
    font-size: 1em;
    padding: 1%;
    margin-top: 5%;
  }
  ul .selected {
    border: none;
    font-weight: bolder;
  }
}

/* ------------------- Tablet Version ---------------------- */

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navBar {
    max-width: auto;
    margin: auto;
    background-color: #01689b;
    color: white;
  }
  .navBar .wrapper .home {
    margin-left: 1%;
  }
  .logo .wrapper {
    margin-left: 30%;
  }
  .logo .wrapper img {
    width: 300px;
    height: 100px;
    margin-top: -5%;
  }
  .navBar .wrapper {
    height: auto;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .navBar a.icon:hover {
    background-color: #01689b;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .topMenu {
    display: flex;
    flex-direction: column;
    line-height: 1em;
  }
  .mainNav {
    display: none;
  }
  .navBar .wrapper:hover .mainNav {
    width: 100%;
    display: flex;
    order: 3;
  }
  .navBar .wrapper:hover .mainNav ul {
    width: 85%;
    margin-left: 5%;
    padding: 0;
    text-align: left;
  }
  .navBar .wrapper:hover .mainNav li {
    width: 100%;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    font-size: 0.1em;
  }
  .searchForm {
    width: 100%;
    order: 2;
    margin-left: 8%;
    position: relative;
    margin-bottom: 5px;
  }
  .searchForm input {
    width: 85%;
  }
  .searchForm button {
    width: 10%;
    margin: 0;
  }
  .navBar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  .navBar a.icon {
    background: #01689b;
    display: inline;
    position: relative;
    right: 0;
    top: 0;
  }
  .navBar a.icon:hover {
    float: right;
  }
  .headerImage {
    width: 100%;
    box-sizing: border-box;
  }
  .headerImage .topTaskNavigation {
    width: 95%;
    height: auto;
    margin-top: 5%;
    font-size: 0.9em;
  }
  .headerImage .topTaskNavigation li {
    line-height: 1.8em;
    font-weight: bolder;
  }
  .topTaskNavigation ul li:before {
    left: 7%;
    margin-top: 12px;
  }
  .editorialNavigation {
    width: 100%;
    height: auto;
    font-size: 1em;
  }
  .fourItems {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    line-height: 1.1em;
    font-size: 0.9em;
  }
  .fourItems ul {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    text-align: left;
  }
  .fourItems ul .content {
    width: 100%;
    padding: 2%;
    justify-content: left;
  }
  .fourItems ul {
    list-style-type: none;
  }
  .fourItems ul li {
    width: 98%;
    line-height: 1.2em;
  }
  .fourItems ul li a {
    text-decoration: none;
    color: #000000;
  }
  .brick-spotlight {
    width: 100;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 1.1em;
  }
  .brick-spotlight .brick {
    width: 45%;
  }
  .brick-nieuws {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  .brick-nieuws .brick {
    width: 45%;
  }
  .brick-nieuws .more:before {
    display: none;
  }
  .banner-container {
    width: 45%;
    margin-right: 5%;
    font-size: 2vw;
    line-height: 0.6em;
    margin-bottom: 10%;
  }
  footer {
    width: 100%;
    overflow: hidden;
  }
  .footer-container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3%;
  }
  .footer-container .payoff {
    width: 100%;
    font-style: normal;
    font-size: 1.4em;
  }
  .column {
    width: 45%;
  }
  .column h2 {
    margin-left: 0%;
  }
  .languages ul {
    list-style-type: none;
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 10px 10px 10px;
    line-height: 2em;
  }
  .languages li {
    border: 1px solid #b2d7ee;
    width: auto;
    text-align: center;
    font-size: 1em;
    padding: 1%;
    margin-top: 5%;
  }
  ul .selected {
    border: none;
    font-weight: bolder;
  }
}
